<div class='movie'>
  <img src='https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg' alt='Smiling Friends' class='movie__img'>
  <h3 class='movie__title'>Iron Man</h3>
  <p class='movie__year'>2008</p>
</div>
<div class='movie'>
  <img src='https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg' alt='Smiling Friends' class='movie__img'>
  <h3 class='movie__title'>Iron Man</h3>
  <p class='movie__year'>2008</p>
</div>
<div class='movie'>
  <img src='https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg' alt='Smiling Friends' class='movie__img'>
  <h3 class='movie__title'>Iron Man</h3>
  <p class='movie__year'>2008</p>
</div>
<div class='movie'>
  <img src='https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg' alt='Smiling Friends' class='movie__img'>
  <h3 class='movie__title'>Iron Man</h3>
  <p class='movie__year'>2008</p>
</div>
<div class='movie'>
  <img src='https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg' alt='Smiling Friends' class='movie__img'>
  <h3 class='movie__title'>Iron Man</h3>
  <p class='movie__year'>2008</p>
</div>
<div class='movie'>
  <img src='https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg' alt='Smiling Friends' class='movie__img'>
  <h3 class='movie__title'>Iron Man</h3>
  <p class='movie__year'>2008</p>
</div>
<div class='movie'>
  <img src='https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg' alt='Smiling Friends' class='movie__img'>
  <h3 class='movie__title'>Iron Man</h3>
  <p class='movie__year'>2008</p>
</div>
<div class='movie'>
  <img src='https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX300.jpg' alt='Smiling Friends' class='movie__img'>
  <h3 class='movie__title'>Iron Man</h3>
  <p class='movie__year'>2008</p>
</div>
